/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  margin: 0 auto;
  max-width: 1020px !important; }

.center--1400 {
  max-width: 1400px; }

.center--1120 {
  max-width: 1120px; }

.center--960 {
  max-width: 960px; }

.center--800 {
  max-width: 800px; }

.center--640 {
  max-width: 640px; }

.center--540 {
  max-width: 540px; }

@font-face {
  letter-spacing: 0.5px;
  font-family: 'asap-bold';
  src: url("../fonts/asap/Asap-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
/*
@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
*/
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0; }

::selection {
  color: #ffffff;
  background: #e91e63; }

html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial;
  line-height: 1.2;
  color: #333;
  text-rendering: optimizeLegibility; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 28px;
  font-size: 2.8rem; }

h2 {
  font-size: 24px;
  font-size: 2.4rem; }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

h5 {
  font-size: 14px;
  font-size: 1.4rem; }

@media (max-width: 720px) {
  h1, .alpha {
    font-size: 32px;
    font-size: 3.2rem; }

  h2, .beta {
    font-size: 24px;
    font-size: 2.4rem; }

  h3, .gamma {
    font-size: 20px;
    font-size: 2rem; }

  h4, .delta {
    font-size: 18px;
    font-size: 1.8rem; }

  h5, .epsilon {
    font-size: 16px;
    font-size: 1.6rem; }

  h6, .zeta {
    font-size: 16px;
    font-size: 1.6rem; } }
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial; }

.heading-size-1 {
  font-size: 28px;
  font-size: 2.8rem; }

.heading-size-2 {
  font-size: 24px;
  font-size: 2.4rem; }

.heading-size-3 {
  font-size: 20px;
  font-size: 2rem; }

.heading-size-4 {
  font-size: 18px;
  font-size: 1.8rem; }

.heading-size-5 {
  font-size: 14px;
  font-size: 1.4rem; }

em,
.text-italic {
  font-style: italic; }

strong,
.text-bold {
  font-weight: bold; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

.link-primary {
  color: #df3a62;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  .link-primary:hover, .link-primary:active {
    text-decoration: underline; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-italic {
  font-style: italic; }

.text-break {
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }

code {
  font-family: consolas, monaco, courier, "courier new";
  line-height: inherit;
  font-size: 14px;
  font-size: 1.4rem; }

pre {
  display: block;
  background: #cfcfcd;
  border-radius: 4px;
  font-family: consolas, monaco, courier, "courier new";
  padding: 24px; }
  pre code {
    padding: 2px 0 !important;
    display: block !important; }

noselect,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

nowrap,
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.aperture--24 {
  width: 24px;
  height: 24px;
  animation: aperture-rotate 1.6s ease-in-out infinite forwards; }
  .aperture--24 .aperture__ring,
  .aperture--24 .aperture__icon {
    width: 24px;
    height: 24px;
    border-width: 2px; }
  .aperture--24 .aperture__icon {
    background-size: auto 24px;
    animation: aperture-animation-24 0.8s steps(24, end) infinite alternate; }

.aperture--32 {
  width: 32px;
  height: 32px;
  animation: aperture-rotate 1.6s ease-in-out infinite forwards; }
  .aperture--32 .aperture__ring,
  .aperture--32 .aperture__icon {
    width: 32px;
    height: 32px;
    border-width: 2px; }
  .aperture--32 .aperture__icon {
    background-size: auto 32px;
    animation: aperture-animation-32 0.8s steps(24, end) infinite alternate; }

.aperture--48 {
  width: 48px;
  height: 48px; }
  .aperture--48 .aperture__ring,
  .aperture--48 .aperture__icon {
    width: 48px;
    height: 48px;
    border-width: 4px; }
  .aperture--48 .aperture__icon {
    background-size: auto 48px;
    animation: aperture-animation-48 0.8s steps(24, end) infinite alternate; }

.aperture--96 {
  width: 96px;
  height: 96px; }
  .aperture--96 .aperture__ring,
  .aperture--96 .aperture__icon {
    width: 96px;
    height: 96px;
    border-width: 8px; }
  .aperture--96 .aperture__icon {
    background-size: auto 96px;
    animation: aperture-animation-96 0.8s steps(24, end) infinite alternate; }

.aperture--white .aperture__ring {
  border-color: white; }
.aperture--white .aperture__icon {
  background-image: url("../images/aperture_02-white-reflected.png"); }

html.svg .aperture--white.aperture__icon {
  background-image: url("../images/aperture_02-white-eflected.svg"); }

.aperture--pink .aperture__ring {
  border-color: #e91e63; }
.aperture--pink .aperture__icon {
  background-image: url("../images/aperture_02-reflected.png"); }

html.svg .aperture--pink.aperture__icon {
  background-image: url("../images/aperture_02-reflected.svg"); }

.aperture {
  margin: 0 auto;
  position: relative; }

.aperture__ring {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border-style: solid; }

.aperture__icon {
  background-repeat: no-repeat; }

@keyframes aperture-animation-24 {
  000% {
    background-position: 0 0; }
  100% {
    background-position: -576px 0; } }
@keyframes aperture-animation-32 {
  000% {
    background-position: 0 0; }
  100% {
    background-position: -768px 0; } }
@keyframes aperture-rotate {
  000% {
    transform: rotate(0deg); }
  050% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(240deg); } }
@keyframes aperture-animation-48 {
  000% {
    background-position: 0 0;
    transform: rotate(0deg); }
  100% {
    background-position: -1152px 0;
    transform: rotate(30deg); } }
@keyframes aperture-animation-96 {
  000% {
    background-position: 0 0;
    transform: rotate(0deg); }
  100% {
    background-position: -2304px 0;
    transform: rotate(30deg); } }
@font-face {
  font-family: 'Flaticons Stroke';
  src: url("../fonts/flaticons-stroke/flaticons-stroke.eot");
  src: url("../fonts/flaticons-stroke/flaticons-stroke.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-stroke/flaticons-stroke.woff") format("woff"), url("../fonts/flaticons-stroke/flaticons-stroke.ttf") format("truetype"), url("../fonts/flaticons-stroke/flaticons-stroke.svg#flaticons-stroke") format("svg"); }
@font-face {
  font-family: 'Flaticons Social';
  src: url("../fonts/flaticons-social/flaticons-social.eot");
  src: url("../fonts/flaticons-social/flaticons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-social/flaticons-social.woff") format("woff"), url("../fonts/flaticons-social/flaticons-social.ttf") format("truetype"), url("../fonts/flaticons-social/flaticons-social.svg#flaticons-social") format("svg"); }
.social-icon:before {
  font-family: 'Flaticons Social'; }

.flat-icon:before {
  font-family: 'Flaticons Stroke'; }

.flat-icon:before,
.social-icon:before {
  line-height: 1;
  display: block;
  vertical-align: middle;
  text-align: center;
  font-weight: normal !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.icon-16:before {
  font-size: 16px;
  width: 16px;
  height: 16px; }

.icon-32:before {
  font-size: 32px;
  width: 32px;
  height: 32px; }

.icon-48:before {
  font-size: 48px;
  width: 48px;
  height: 48px; }

.icon--24 {
  display: block;
  padding: 4px;
  width: 24px;
  height: 24px; }
  .icon--24:before {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center; }

.icon--microscope:before {
  content: '\e45a'; }

.cog-icon:before {
  content: '\e514'; }

.down-icon:before {
  content: '\e5a5'; }

.view-icon:before {
  content: '\e551'; }

.share-icon:before {
  content: '\e49a'; }

.switch-icon:before {
  content: '\e586'; }

.arrowright-icon:before {
  content: '\e5ab'; }

.arrowleft-icon:before {
  content: '\e5aa'; }

.left-icon:before {
  content: '\e5a6'; }

.right-icon:before {
  content: '\e5a7'; }

.facebook-icon:before {
  content: '\e7d0'; }

.twitter-icon:before {
  content: '\e7d1'; }

.pinterest-icon:before {
  content: '\e7d5'; }

.googleplus-icon:before {
  content: '\e7d9'; }

html {
  height: 100%;
  min-width: 320px; }

.layout {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
  background: #eeeeee;
  padding: 0 0 56px; }

.layout__header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0 12px;
  height: 56px;
  width: 100%;
  background: rgba(0, 58, 119, 0.25); }

.layout__navigation {
  padding: 0 12px;
  background: white; }

.layout__banner {
  padding: 56px 24px 0;
  background-position: center;
  /* fallback */
  background-color: #a526a7;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right bottom, from(#e91e63), to(#a526a7));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #e91e63, #a526a7);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #e91e63, #a526a7);
  /* IE 10 */
  background: -ms-linear-gradient(top, #e91e63, #a526a7);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #e91e63, #a526a7); }

.layout__banner-grid {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: 80px 88px;
  background-image: url("../images/banner-grid.png");
  background-repeat: repeat; }

.layout__section {
  padding: 0 24px; }

.layout__section--white {
  background: white; }

.layout__section--grey {
  background: #f5f5f5; }

.layout__section--border {
  border-bottom: 1px solid #e0e0e0; }

.layout__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  padding: 0 12px;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden; }

.header-layout {
  height: 56px; }

.header-layout__logo {
  float: left;
  padding: 8px 0; }

.header-logo {
  position: relative;
  height: 40px;
  padding: 0 0 0 56px;
  display: block; }
  .header-logo:hover, .header-logo:active {
    opacity: 1; }
  .header-logo:active {
    transform: translateY(2px); }

.header-logo__text {
  font-size: 22px;
  font-size: 2.2rem;
  display: block;
  color: white;
  width: 240px;
  line-height: 40px;
  font-weight: bold;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial;
  background-repeat: no-repeat;
  background-position: left center; }
  @media screen and (max-width: 720px) {
    .header-logo__text {
      display: none; } }

.header-logo__mark {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url("../images/logo/siteshot_mark-40x40.png");
  background-position: center; }

html.svg .header-logo__mark {
  background-image: url("../images/logo/siteshot_mark-40x40.svg"); }

.header-logo--active {
  color: #ffffff; }

.header-layout__signup {
  float: right;
  width: 160px;
  padding: 8px 0; }

.footer {
  position: relative;
  padding: 16px 0;
  color: #616161;
  border-top: 1px solid #e0e0e0;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem; }

.footer__copyright {
  float: left;
  line-height: 32px; }

.footer__social {
  float: right; }
  @media screen and (max-width: 720px) {
    .footer__social {
      display: none; } }

.primary-wrap {
  padding: 24px 0 0;
  position: relative; }

.primary-breadcrumb {
  padding: 12px 0; }

.primary-heading {
  padding: 0 0 24px; }

.primary-heading__studio-name {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 40px; }

.primary-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px; }

.primary-button--loading .primary-button__normal {
  display: none; }
.primary-button--loading .primary-button__loading {
  display: block; }

.primary-button__normal {
  display: block; }

.primary-button__loading {
  display: none; }

.primary {
  max-width: 800px; }

.primary__item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 40px 0 0;
  float: left;
  display: block;
  max-width: 25%;
  cursor: pointer; }
  .primary__item:last-child {
    padding: 0; }

.primary-item {
  display: block;
  color: rgba(51, 51, 51, 0.6); }
  .primary-item:hover, .primary-item:active {
    color: #333333; }
  .primary-item:active .primary-item__container {
    transform: translateY(2px); }

.primary-item:after {
  -webkit-transition: width 80ms ease-out;
  -moz-transition: width 80ms ease-out;
  -ms-transition: width 80ms ease-out;
  -o-transition: width 80ms ease-out;
  transition: width 80ms ease-out;
  content: '';
  display: block;
  height: 2px;
  width: 0;
  margin: 0 auto;
  background: #e91e63; }

.primary-item:hover:after {
  width: 10%; }

.primary-item--active:after {
  width: 100% !important; }

.primary-item--active {
  color: #333333; }
  .primary-item--active:after {
    width: 100%; }

.primary-item__container {
  position: relative;
  line-height: 24px;
  padding: 0 0 0 28px; }

.primary-item__alert {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 10px;
  padding: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white; }

.primary-item__icon {
  position: absolute;
  top: 0;
  left: -4px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: #333333;
  border: 4px solid white; }

.primary-item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px; }

.typography {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4; }
  .typography a {
    color: #e91e63;
    text-decoration: underline; }
    .typography a:hover {
      color: #e56181; }
    .typography a:active {
      color: #b22e4e; }
    .typography a:visited {
      color: #e91e63; }
  .typography p {
    margin: 8px 0 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
    .typography p:first-child {
      margin-top: 0; }
  .typography ol {
    list-style: decimal; }
  .typography ul {
    list-style: disc; }
  .typography ul, .typography ol {
    margin: 8px 0 24px;
    padding: 0 0 0 20px; }
  .typography h1 {
    margin: 32px 0 16px; }
  .typography h2 {
    margin: 24px 0 12px; }
  .typography h3 {
    margin: 24px 0 8px; }
  .typography h4 {
    margin: 24px 0 8px; }
  .typography h5 {
    margin: 16px 0 0; }
  .typography h6 {
    margin: 16px 0 0; }
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    font-weight: bold;
    line-height: 1.2; }
    .typography h1:first-child, .typography h2:first-child, .typography h3:first-child, .typography h4:first-child, .typography h5:first-child, .typography h6:first-child {
      margin-top: 0; }
  .typography code {
    display: inline-block;
    word-break: keep-all;
    padding: 2px 4px;
    line-height: 16px;
    border-radius: 3px;
    background: #cfcfcd; }
  .typography img {
    max-width: 100%;
    display: block; }
  .typography blockquote {
    margin: 24px 0; }

.typography--large {
  font-size: 120%; }

.typography p:last-child,
.typography a:last-child,
.typography h4:last-child,
.typography ul:last-child,
.typography ol:last-child {
  margin: 0; }

.module {
  position: relative; }

.module--sidebar {
  padding-left: 232px !important; }

.module--margin {
  margin: 0 0 16px; }

.module--white {
  border-radius: 4px;
  padding: 16px 32px 32px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 8px rgba(0, 0, 0, 0.1); }

.module--white-even {
  border-radius: 4px;
  padding: 16px 32px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 8px rgba(0, 0, 0, 0.1); }

.module__header {
  margin: 0 0 24px;
  padding: 0 0 4px;
  border-bottom: 1px solid #d9d9d9; }

.module__controls {
  padding: 0 0 24px; }

.heading-style {
  color: #333333;
  font-weight: bold;
  line-height: 24px;
  padding: 4px 0;
  font-size: 16px;
  font-size: 1.6rem; }

.module__body--margin {
  margin: 0 0 24px; }

.module__footer {
  padding: 24px 0 0; }

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial;
  margin: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
  outline: none;
  text-decoration: none; }
  .button.button--hover, .button:hover {
    box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.3); }
  .button.button--active, .button:active {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.4); }

.button--28 {
  font-size: 12px;
  font-size: 1.2rem;
  height: 28px;
  line-height: 24px;
  padding: 0 12px; }

.button--32 {
  font-size: 14px;
  font-size: 1.4rem;
  height: 32px;
  line-height: 24px;
  padding: 2px 12px; }

.button--36 {
  height: 36px;
  line-height: 24px;
  padding: 4px 12px; }

.button--40 {
  height: 40px;
  line-height: 24px;
  padding: 6px 16px; }

.button--48 {
  height: 48px;
  line-height: 24px;
  padding: 8px 20px; }

.button--white {
  color: #333333;
  background: white;
  border-color: #b6b6b4; }
  .button--white:hover {
    background: white;
    border-color: #999999; }
  .button--white.button--active, .button--white:active {
    background: white;
    border-color: #2196f3; }

.button--white-stroke {
  color: white;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.6); }
  .button--white-stroke.button--hover, .button--white-stroke:focus, .button--white-stroke:hover {
    color: white;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.8); }
  .button--white-stroke.button--active, .button--white-stroke:active {
    color: white;
    background: transparent;
    border-color: white; }

.button--pink {
  color: #ffffff;
  background: #e91e63;
  border-color: #e91e63; }
  .button--pink.button--hover, .button--pink:hover {
    background: #e56181; }
  .button--pink.button--active, .button--pink:active {
    background: #b22e4e; }

.button--pink-stroke {
  color: #b22e4e;
  background: transparent;
  border-color: #e91e63; }
  .button--pink-stroke.button--hover, .button--pink-stroke:focus, .button--pink-stroke:hover {
    color: #b22e4e;
    background: transparent;
    border-color: #e56181; }
  .button--pink-stroke.button--active, .button--pink-stroke:active {
    color: #b22e4e;
    background: transparent;
    border-color: #b22e4e; }

.button--green {
  color: #ffffff;
  background: #4caf50;
  border-color: #4caf50; }
  .button--green.button--hover, .button--green:hover {
    background: #75c287; }
  .button--green.button--active, .button--green:active {
    background: #428f54; }

.button--green-stroke {
  color: #428f54;
  background: transparent;
  border-color: #4caf50; }
  .button--green-stroke.button--hover, .button--green-stroke:focus, .button--green-stroke:hover {
    color: #428f54;
    background: transparent;
    border-color: #75c287; }
  .button--green-stroke.button--active, .button--green-stroke:active {
    color: #428f54;
    background: transparent;
    border-color: #428f54; }

.button--blue {
  color: #ffffff;
  background: #2196f3;
  border-color: #2196f3; }
  .button--blue.button--hover, .button--blue:hover {
    background: #3b9ae2; }
  .button--blue.button--active, .button--blue:active {
    background: #0867af; }

.button--blue-stroke {
  color: #0867af;
  background: transparent;
  border-color: #2196f3; }
  .button--blue-stroke.button--hover, .button--blue-stroke:focus, .button--blue-stroke:hover {
    color: #0867af;
    background: transparent;
    border-color: #3b9ae2; }
  .button--blue-stroke.button--active, .button--blue-stroke:active {
    color: #0867af;
    background: transparent;
    border-color: #0867af; }

.button--purple {
  color: #ffffff;
  background: #9c27b0;
  border-color: #9c27b0; }
  .button--purple.button--hover, .button--purple:hover {
    background: #BA68C8; }
  .button--purple.button--active, .button--purple:active {
    background: #7B1FA2; }

.button--purple-stroke {
  color: #6a5093;
  background: transparent;
  border-color: #a526a7; }
  .button--purple-stroke.button--hover, .button--purple-stroke:focus, .button--purple-stroke:hover {
    color: #6a5093;
    background: transparent;
    border-color: #9d83c6; }
  .button--purple-stroke.button--active, .button--purple-stroke:active {
    color: #6a5093;
    background: transparent;
    border-color: #6a5093; }

.button--grey {
  color: #ffffff;
  background: #b6b6b4;
  border-color: #b6b6b4; }
  .button--grey.button--hover, .button--grey:hover {
    background: #cfcfcd; }
  .button--grey.button--active, .button--grey:active {
    background: #999999; }

.button--grey-stroke {
  color: #b6b6b4;
  background: transparent;
  border-color: #b6b6b4; }
  .button--grey-stroke.button--hover, .button--grey-stroke:focus, .button--grey-stroke:hover {
    color: #b6b6b4;
    background: transparent;
    border-color: #b6b6b4; }
  .button--grey-stroke.button--active, .button--grey-stroke:active {
    color: #b6b6b4;
    background: transparent;
    border-color: #b6b6b4; }

.button--disabled {
  box-shadow: none !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
  border-color: #bdbdbd !important;
  background: #bdbdbd !important; }

.button__icon {
  width: 24px;
  height: 24px;
  margin: 0 auto; }

.button-inner {
  position: relative;
  display: inline-block; }

.button-inner--block {
  display: block; }

.button-inner--icon-after {
  padding-right: 32px; }

.button-inner--icon-before {
  padding-left: 32px; }

.button-inner__text {
  line-height: 24px; }

.button-inner__icon-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px; }

.button-inner__icon-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px; }

.button-pattern {
  position: relative;
  height: 40px; }

.button-pattern__cancel {
  position: absolute;
  top: 0;
  right: 212px;
  width: 120px; }

.button-pattern__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px; }
  .button-pattern__submit .button {
    margin: 0 0 4px; }

.dropdown {
  position: relative; }

.dropdown__content {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  min-width: 100%;
  max-width: 240px;
  padding: 2px 0 0; }

.dropdown__content--open {
  display: block; }

.dropdown__content--dock-left {
  left: 0; }

.dropdown__content--dock-right {
  right: 0; }

.dropdown-content {
  max-width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  overflow: hidden; }

.dropdown-content__item {
  animation: dropdown-animation 160ms ease-out;
  animation-fill-mode: forwards;
  padding: 8px 0;
  border-bottom: 1px solid #d9d9d9; }
  .dropdown-content__item:last-child {
    border: none; }

@keyframes dropdown-animation {
  000% {
    opacity: 0;
    transform: translateY(-16px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.dropdown-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding: 0 6px;
  border-left: 4px solid white; }
  .dropdown-item:hover {
    border-color: #e91e63;
    background: #f1f1f1; }
  .dropdown-item:active {
    border-color: #e91e63;
    background: #d9d9d9; }

.dropdown-item--icon {
  padding-left: 32px; }

.dropdown-item__icon {
  position: absolute;
  padding: 4px;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0; }

.dropdown-item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333 !important;
  line-height: 32px; }

.form-style--640 {
  margin: 0 auto;
  max-width: 640px; }

.form-style__heading {
  margin: 0 0 24px;
  border-bottom: 1px solid #d9d9d9; }

.form-style__content {
  margin: 24px 0; }

.form-style__footer {
  margin: 48px 0 0;
  padding: 24px 0 0;
  border-top: 1px solid #d9d9d9; }

.input-style {
  line-height: 1;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial;
  height: 40px;
  background: white;
  color: #333333;
  padding: 0 16px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 2px solid #b6b6b4;
  outline: none;
  font-size: 16px;
  font-size: 1.6rem; }
  .input-style:hover {
    border-color: #999999; }
  .input-style:focus {
    border-color: #2196f3; }

.input-style--red {
  border-color: #f44336 !important; }

.input-style--green {
  border-color: #4caf50 !important; }

.textarea-style {
  min-height: 100px;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial;
  background: white;
  color: #333333;
  padding: 8px 16px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 2px solid #b6b6b4;
  outline: none;
  line-height: 1.4;
  font-size: 16px;
  font-size: 1.6rem; }
  .textarea-style:hover {
    border-color: #999999; }
  .textarea-style:focus {
    border-color: #2196f3; }

.textarea-style--red {
  border-color: #f44336 !important; }

.textarea-style--green {
  border-color: #4caf50 !important; }

.select-box {
  position: relative; }

.select-box__icon {
  pointer-events: none;
  position: absolute;
  padding: 8px 16px 8px 8px;
  right: 0;
  top: 0;
  width: 48px;
  height: 40px; }

.select-style {
  -moz-appearance: window;
  -webkit-appearance: none;
  font-family: "lato", "Open Sans", Open-Sans, helvetica, arial;
  line-height: 1;
  height: 40px;
  background: white;
  color: #333333;
  padding: 0 48px 0 16px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 2px solid #b6b6b4;
  outline: none;
  font-size: 16px;
  font-size: 1.6rem; }
  .select-style:hover {
    border-color: #999999; }
  .select-style:focus {
    border-color: #2196f3; }

.select-style--red {
  border-color: #f44336 !important; }

.select-style--green {
  border-color: #4caf50 !important; }

.form-brick {
  position: relative; }

.form-brick--margin {
  margin: 0 0 16px; }

.form-brick__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-size: 1.6rem;
  display: block;
  line-height: 1;
  padding: 0 0 8px;
  font-weight: bold; }

.form-brick__validation {
  display: none;
  padding: 6px 0 0;
  color: #F73415;
  line-height: 1.4; }

.form-brick__validation--show {
  display: block; }

.form-grid {
  margin: 0; }

.form-grid__row {
  padding: 8px 0; }
  @media screen and (max-width: 720px) {
    .form-grid__row {
      padding: 0; } }
  .form-grid__row:first-child {
    padding-top: 0; }
  .form-grid__row:last-child {
    padding-bottom: 0; }
  .form-grid__row:after {
    content: '';
    display: table;
    clear: both; }

.form-grid__item {
  width: 50%;
  float: left; }
  .form-grid__item:first-child {
    padding-right: 12px; }
  .form-grid__item:last-child {
    padding-left: 12px; }
  @media screen and (max-width: 720px) {
    .form-grid__item {
      float: none;
      padding: 8px 0 !important;
      width: 100%; } }

.search-input {
  position: relative;
  height: 40px; }

.search-input__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  padding: 8px 4px 8px 12px;
  pointer-events: none; }

.search-input__input {
  padding-left: 40px; }

.search-input__autocomplete {
  position: absolute;
  top: 40px; }

.form-brick__password {
  position: relative; }

.form-brick__password-button {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5a58;
  font-size: 10px;
  font-size: 1rem;
  line-height: 24px;
  padding: 4px 16px;
  border-left: 1px solid #d9d9d9; }
  .form-brick__password-button:active {
    transform: translateY(2px); }

.input-style--password {
  padding-right: 80px; }

.breadcrumb {
  padding: 4px 0;
  min-height: 24px; }

.breadcrumb__item {
  float: left; }

.breadcrumb__item:last-child {
  visibility: hidden; }
  .breadcrumb__item:last-child .breadcrumb-item__icon {
    opacity: 0;
    transform: translateX(-12px);
    transition: all 160ms ease-out; }
  .breadcrumb__item:last-child .breadcrumb-item__text,
  .breadcrumb__item:last-child .breadcrumb-item__link {
    opacity: 0;
    transform: translateY(12px);
    transition: all 160ms ease-out; }

.breadcrumb__item--animate:last-child {
  visibility: visible; }
  .breadcrumb__item--animate:last-child .breadcrumb-item__icon {
    opacity: 1;
    transform: translateX(0); }
  .breadcrumb__item--animate:last-child .breadcrumb-item__text,
  .breadcrumb__item--animate:last-child .breadcrumb-item__link {
    opacity: 1;
    transform: translateY(0); }

.breadcrumb-item {
  position: relative;
  height: 24px;
  max-width: 320px; }

.breadcrumb-item--icon {
  padding-left: 48px; }

.breadcrumb-item__link {
  font-size: 16px;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 24px;
  cursor: pointer;
  display: block;
  line-height: 16px;
  padding: 4px 0;
  font-weight: bold;
  color: #333333; }
  .breadcrumb-item__link:hover, .breadcrumb-item__link:active {
    color: #df3a62; }
  .breadcrumb-item__link:active {
    transform: translateY(2px); }

.breadcrumb-item__text {
  font-size: 16px;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 24px;
  font-weight: bold; }

.breadcrumb-item__button {
  height: 36px; }

.breadcrumb-item__icon {
  position: absolute;
  color: #b6b6b4;
  top: 0;
  left: 0;
  width: 48px;
  height: 24px;
  padding: 0 12px; }

.switch {
  position: relative;
  display: block;
  height: 24px;
  width: 56px;
  cursor: pointer; }

.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden; }

.switch__input:disabled + .switch__toggle {
  background: #cfcfcd;
  border-color: #cfcfcd;
  cursor: not-allowed; }

.switch__input:checked + .switch__toggle {
  background: #4caf50;
  border-color: #428f54; }
  .switch__input:checked + .switch__toggle:before {
    margin-left: 32px; }

.switch__toggle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: 2px solid #999999;
  background: #b6b6b4;
  -webkit-transition: all 120ms ease-out;
  -moz-transition: all 120ms ease-out;
  -ms-transition: all 120ms ease-out;
  -o-transition: all 120ms ease-out;
  transition: all 120ms ease-out; }
  .switch__toggle:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: white;
    -webkit-transition: all 120ms ease-out;
    -moz-transition: all 120ms ease-out;
    -ms-transition: all 120ms ease-out;
    -o-transition: all 120ms ease-out;
    transition: all 120ms ease-out; }

.switch-list {
  border-top: 1px solid #d9d9d9; }

.switch-list__item {
  border-bottom: 1px solid #d9d9d9; }

.switch-control {
  display: block;
  position: relative;
  padding: 16px 100px 16px 24px;
  background: #f1f1f1; }

.switch-control__switch {
  position: absolute;
  right: 24px;
  top: 16px; }

.switch-control__title {
  font-size: 15px;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 24px; }

.switch-control__message {
  margin: 4px 0 0; }

.switch-control__error {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  color: #F73415;
  margin: 12px 0 0; }

.home-banner {
  position: relative;
  padding: 80px 0 0;
  overflow: hidden;
  color: white; }
  @media screen and (max-width: 720px) {
    .home-banner {
      padding: 40px 0 0; } }

.home-banner__shadow {
  position: absolute;
  z-index: 10;
  height: 2px;
  left: 20px;
  right: 20px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); }

.home-banner__title {
  font-size: 64px;
  font-size: 6.4rem;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 0 0 40px;
  line-height: 1.2;
  color: white;
  text-align: center; }
  @media screen and (max-width: 720px) {
    .home-banner__title {
      font-size: 28px;
      font-size: 2.8rem;
      margin: 0 0 16px; } }

.home-banner__message {
  font-size: 22px;
  font-size: 2.2rem;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  line-height: 1.4;
  color: white;
  text-align: center; }
  @media screen and (max-width: 720px) {
    .home-banner__message {
      font-size: 18px;
      font-size: 1.8rem; } }

.home-banner__mockup {
  padding: 80px 20px 0;
  width: 100%; }
  @media screen and (max-width: 720px) {
    .home-banner__mockup {
      padding: 40px 20px 0; } }

.banner-mockup {
  background-image: url("../images/landing/website-mock.svg");
  background-image: url("../images/landing/website-mock.png");
  background-size: contain;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2); }

html.csstransitions .banner-mockup {
  transition: all 400ms ease-out;
  opacity: 0.6;
  transform: translateY(120px); }
html.csstransitions .banner-mockup--animate {
  opacity: 1;
  transform: translateY(0); }

.signup {
  padding: 40px 0;
  max-width: 520px;
  margin: 0 auto; }

.signup__heading {
  font-size: 28px;
  font-size: 2.8rem;
  text-align: center;
  line-height: 1.4;
  margin: 0 0 24px; }
  @media screen and (max-width: 720px) {
    .signup__heading {
      font-size: 22px;
      font-size: 2.2rem; } }

.signup__input {
  margin: 0 0 16px; }

.email-validation {
  height: 40px;
  position: relative;
  padding: 0 160px 0 0; }
  @media screen and (max-width: 720px) {
    .email-validation {
      padding: 0;
      height: auto; } }

.email-validation__element {
  position: relative; }

.email-validation__input {
  padding-right: 48px; }

.email-validation__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  padding: 0 0 0 12px; }
  @media screen and (max-width: 720px) {
    .email-validation__button {
      position: static;
      width: 100%;
      padding: 12px 0 0; } }

.content-block {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #d9d9d9; }
  .content-block:last-child {
    border: none; }
  @media screen and (max-width: 720px) {
    .content-block {
      padding: 40px 0; } }

.content-block__content {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding: 80px 0; }
  @media screen and (max-width: 720px) {
    .content-block__content {
      padding: 0;
      display: block;
      width: 100%; } }

.illustration {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 720px) {
    .illustration {
      padding: 24px 0 0; } }

.illustration--how-it-works {
  margin: 0 auto;
  max-width: 440px;
  background-image: url("../images/landing/how-it-works-4.svg");
  background-image: url("../images/landing/how-it-works-4.png"); }

.illustration--no-code {
  margin: 0 auto;
  max-width: 240px;
  background-image: url("../images/landing/no-code-3.png"); }

.content-section {
  max-width: 440px;
  padding: 0 40px 0 0;
  line-height: 1.6; }
  @media screen and (max-width: 720px) {
    .content-section {
      padding: 0; } }

.content-section__title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 16px; }
  @media screen and (max-width: 720px) {
    .content-section__title {
      font-size: 22px;
      font-size: 2.2rem; } }

.content-section__content p {
  color: rgba(0, 0, 0, 0.72);
  font-size: 18px;
  margin: 8px 0 16px; }
  @media screen and (max-width: 720px) {
    .content-section__content p {
      font-size: 16px;
      font-size: 1.6rem; } }

.feature-block {
  padding: 56px 0 80px;
  text-align: center;
  line-height: 1.6; }
  @media screen and (max-width: 720px) {
    .feature-block {
      padding: 40px 0; } }

.feature-block--border {
  border-bottom: 1px solid #e0e0e0; }

.feature-block__heading {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 auto 16px;
  max-width: 640px; }
  @media screen and (max-width: 720px) {
    .feature-block__heading {
      font-size: 22px;
      font-size: 2.2rem; } }

.feature-block__content {
  font-size: 20px;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 640px;
  color: #616161; }
  @media screen and (max-width: 720px) {
    .feature-block__content {
      font-size: 16px;
      font-size: 1.6rem; } }

.padding-wrapper {
  padding: 40px 0; }

.available {
  background: #e91e63;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0 240px 0 0; }
  @media screen and (max-width: 720px) {
    .available {
      padding: 0; } }

.available__headline {
  padding: 12px 24px;
  line-height: 40px;
  font-size: 24px;
  font-size: 2.4rem; }
  @media screen and (max-width: 720px) {
    .available__headline {
      text-align: center;
      font-size: 22px;
      font-size: 2.2rem; } }

.available__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px; }
  @media screen and (max-width: 720px) {
    .available__button {
      padding: 0 12px 12px;
      position: static; } }

/*# sourceMappingURL=style.css.map */
