// layout
html {
  height: 100%;
  min-width: 320px;
}

// main layout
.layout {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
  background: $color-background;
  padding: 0 0 56px;
}


//layout__children
.layout__header {
  //position: fixed;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0 12px;
  height: 56px;
  width: 100%;
  background: rgba(#003a77,0.25);
  //box-shadow: $shadow-hover;
}

.layout__navigation {
  padding: 0 12px;
  background: white;
}


$first-color: #e91e63;//#c05a89;
$last-color: #a526a7;

.layout__banner {
  padding: 56px 24px 0;
  background-position:center;
  @include verticalGradient($first-color,$last-color);
}
.layout__banner-grid {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: 80px 88px;
  background-image: url('../images/banner-grid.png');
  background-repeat: repeat;
}


.layout__section {
  padding: 0 24px;
}
.layout__section--white {
  background: white;
}
.layout__section--grey {
  background: #f5f5f5;
}
.layout__section--border {
  border-bottom: 1px solid #e0e0e0;
}



.layout__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  padding: 0 12px;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
}