// footer
.footer {
  position: relative;
  padding: 16px 0;
  color: #616161;
  border-top: 1px solid #e0e0e0;
  font-weight: bold;
  @include font-size(1.6);
}
.footer__copyright {
  float: left;
  line-height: 32px;
}
.footer__social {
  float: right;
  @include screen-mob {
    display: none;
  }
}