// header bar layout
.header-layout {
  height: 56px;
}
.header-layout__logo {
  float: left;
  padding: 8px 0;
}

.header-logo {
  position: relative;
  height: 40px;
  padding: 0 0 0 48px;
  display: block;
  //opacity: 0.8;
  &:hover,
  &:active {
    opacity: 1;
  }
  &:active {
    transform: translateY(2px);
  }
}

.header-logo__text {
  @include font-size(2.4);
  display: block;
  color: transparent;
  width: 240px;
  line-height: 40px;
  font-weight: bold;
  font-family: $font-family;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('../images/logo/logotype.png');
}
.header-logo__mark {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url('../images/logo/logomark.png');
  background-position: center;
}

.header-logo--active {
  color: $text-white;
}


.header-layout__signup {
  float: right;
  width: 160px;
  padding: 8px 0;
}